@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');boby {
  font-family: 'Raleway', sans-serif;
  max-width: 1440px;;
}
.active {
  color: #7C4EE4;
}


@tailwind base;
@tailwind components;
@tailwind utilities;
